*, body {
  padding: 0px;
  margin: 0px;
  font-family: "Museo100";
  box-sizing: border-box;
}

@font-face {
  font-family: "Museo100";
  src: url(../images/fonts/MuseoSans-100.ttf);
}
@font-face {
  font-family: "Museo300";
  src: url("../images/fonts/MuseoSans-300.ttf");
}
@font-face {
  font-family: "Museo500";
  src: url("../images/fonts/MuseoSans-500.ttf");
}
.main-container {
  max-width: 1920px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow-x: hidden;
}
.main-container .inner-container {
  max-width: 1470px;
  margin: 0 auto;
}
.main-container .banner {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1030px;
  padding-top: 32px;
  margin-bottom: 125px;
}
.main-container .banner .header {
  display: grid;
  grid-template-columns: 40px auto;
  margin-bottom: 150px;
  padding: 0px 45px 0px 45px;
  align-items: center;
}
.main-container .banner .header h1 {
  justify-self: start;
  font-size: 23px;
  font-weight: normal;
}
.main-container .banner .header .list {
  justify-self: end;
}
.main-container .banner .header .list ul li {
  display: inline-block;
  margin-right: 20px;
  font-size: 16px;
  font-weight: bolder;
}
.main-container .banner .header .list ul li a {
  text-decoration: none;
  color: #555555;
}
.main-container .banner .header .list ul li:last-child {
  margin: 0px;
}
.main-container .banner .inner-container .banner-text {
  width: 635px;
}
.main-container .banner .inner-container .banner-text h1 {
  margin-bottom: 44px;
  font-weight: normal;
}
.main-container .banner .inner-container .banner-text p {
  margin-bottom: 19px;
}
.main-container .banner .inner-container .banner-text p:last-child {
  margin: 0px;
}
.main-container .mid-container .service .lorem {
  margin-bottom: 65px;
}
.main-container .mid-container .service .lorem h2 {
  font-size: 34px;
  margin-bottom: 35px;
  font-weight: normal;
}
.main-container .mid-container .service .lorem p {
  font-size: 20px;
}
.main-container .mid-container .service .g-service {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 74px;
  padding-bottom: 31px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 32px;
}
.main-container .mid-container .service .g-service h2 {
  font-size: 22px;
  margin-bottom: 40px;
  font-weight: normal;
  font-family: "Museo300";
  color: #555555;
}
.main-container .mid-container .service .g-service h2:hover {
  text-decoration: underline;
  cursor: pointer;
}
.main-container .mid-container .service .g-service p {
  font-size: 20px;
  margin-bottom: 40px;
}
.main-container .mid-container .service .g-service button {
  padding: 10px 20px 10px 20px;
  border: 1px solid #ebebeb;
  background-color: white;
  font-size: 16px;
}
.main-container .mid-container .service .g-service button:hover {
  cursor: pointer;
}
.main-container .mid-container .service .excluded {
  border: none;
}
.main-container .mid-container .service .all {
  grid-column: 1/3;
  padding-top: 165px;
  padding-bottom: 115px;
}
.main-container .mid-container .service .all button {
  padding: 10px 20px 10px 20px;
  border: 1px solid #ebebeb;
  background-color: white;
  font-size: 16px;
  font-weight: bolder;
  width: 150px;
}
.main-container .mid-container .service .all button:hover {
  cursor: pointer;
}
.main-container .mid-container .psycho {
  background-color: #fcfcfc;
  padding: 110px 0px 110px 0px;
}
.main-container .mid-container .psycho .therapy h2 {
  font-size: 34px;
  margin-bottom: 25px;
  font-weight: normal;
}
.main-container .mid-container .psycho .therapy p {
  margin-bottom: 25px;
}
.main-container .mid-container .psycho .therapy .therapist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 70px;
}
.main-container .mid-container .psycho .therapy .therapist .psychologists img:hover {
  cursor: pointer;
}
.main-container .mid-container .psycho .therapy .therapist .psychologists h3 {
  padding-top: 21px;
  margin-bottom: 15px;
}
.main-container .mid-container .text {
  padding: 110px 0px 110px 0px;
}
.main-container .mid-container .text .g-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
}
.main-container .mid-container .text .g-form .appointment h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: normal;
}
.main-container .mid-container .text .g-form .appointment p {
  font-size: 16px;
  margin-bottom: 15px;
}
.main-container .mid-container .text .g-form .appointment p:last-child {
  margin: 0px;
}
.main-container .mid-container .text .g-form .appointment a {
  text-decoration: none;
  border-bottom: 1px solid #949494;
}
.main-container .mid-container .text .g-form form {
  border: 1px solid #ebebeb;
  padding: 40px 30px 40px 30px;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 290px 1fr;
  grid-gap: 0px 155px;
}
.main-container .mid-container .text .g-form form .inputs p {
  margin-bottom: 10px;
}
.main-container .mid-container .text .g-form form .inputs p label {
  font-weight: bolder;
  color: #555555;
}
.main-container .mid-container .text .g-form form .inputs .name {
  border: 1px solid #ebebeb;
  background-color: white;
  background-color: #fcfcfc;
  width: 325px;
  height: 45px;
  margin-bottom: 10px;
}
.main-container .mid-container .text .g-form form .comment p {
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: bolder;
  color: #555555;
}
.main-container .mid-container .text .g-form form .comment textarea {
  border: 1px solid #ebebeb;
  background-color: white;
}
.main-container .mid-container .text .g-form form button {
  margin-top: 30px;
  width: 315px;
  text-align: center;
  position: relative;
  left: 250px;
  align-items: center;
  grid-column: 1/3;
  padding: 10px 20px 10px 20px;
  border: 1px solid #ebebeb;
  background-color: white;
  font-size: 16px;
  font-weight: bolder;
}
.main-container .mid-container .text .g-form form button:hover {
  cursor: pointer;
}
.main-container footer {
  padding: 60px 0px 60px 0px;
  background-color: #fcfcfc;
}
.main-container footer .foot-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 60px;
}
.main-container footer .foot-grid .list-1 h3 {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: normal;
}
.main-container footer .foot-grid .list-1 ul li {
  font-size: 14px;
  list-style: none;
  margin-bottom: 10px;
}
.main-container footer .foot-grid .list-1 ul li:last-child {
  margin: 0px;
}
.main-container footer .foot-grid .list-1 ul li a {
  text-decoration: none;
  color: #555555;
}
.main-container footer .foot-grid .list-2 h3 {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: normal;
}
.main-container footer .foot-grid .list-2 ul li {
  font-size: 14px;
  list-style: none;
  margin-bottom: 10px;
}
.main-container footer .foot-grid .list-2 ul li:last-child {
  margin: 0px;
}
.main-container footer .foot-grid .list-2 ul li a {
  text-decoration: none;
  color: #555555;
}
.main-container footer .foot-grid .list-3 h3 {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: normal;
}
.main-container footer .foot-grid .list-3 ul li {
  font-size: 14px;
  list-style: none;
  margin-bottom: 10px;
}
.main-container footer .foot-grid .list-3 ul li:last-child {
  margin: 0px;
}
.main-container footer .foot-grid .list-3 ul li a {
  text-decoration: none;
  color: #555555;
}
.main-container footer .foot-grid .list-4 h3 {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: normal;
}
.main-container footer .foot-grid .list-4 ul li {
  font-size: 14px;
  list-style: none;
  margin-bottom: 10px;
}
.main-container footer .foot-grid .list-4 ul li:last-child {
  margin: 0px;
}
.main-container footer .foot-grid .list-4 ul li a {
  text-decoration: none;
  color: #555555;
}
.main-container footer .foot-grid .list-4 ul li i {
  padding-right: 7px;
}

/*# sourceMappingURL=style.css.map */
